body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --custom-cursor-warcraft: url('../public/warcraft.cur'), auto;
}

:root {
  --custom-cursor-marvel: url('../public/marvel.cur'), auto;
}

:root {
  --custom-cursor-cyberpunk: url('../public/cyberpunk.cur'), auto;
}

@font-face {
  font-family: raleway_c;
  src: url(./fonts/raleway-v22-cyrillic-300.woff2);
  font-weight: 300;
}

@font-face {
  font-family: raleway_c;
  src: url(./fonts/raleway-v22-cyrillic-100.woff2);
  font-weight: 100;
}

@font-face {
  font-family: raleway_project;
  src: url(./fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit_c;
  src: url(./fonts/outfit-regular.woff2);
}

@font-face {
  font-family: fira_mono;
  src: url(./fonts/FiraMono-Regular.ttf);
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  60% {
    background-position: 38vh 26vw;
  }
  100% {
    background-position: 38vh 26vw;
  }
}

@property --progress {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: 100;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    top: -10vh;
  }
  to {
    top: 50%;
  }
}

@keyframes collapse {
  from {
    height: 100vh;
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveFromLeft {
  0% {
    left: -25vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Toastify__toast-container--top-right {
  top: 10px !important;
}
